.user-manage__content {
    width: 80%;
    margin: 100px auto;
}

.user-manage__header--ttl {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.users__table {
    width: 100%;
    margin: 50px auto;
}

.users__table--table {
    width: 100%;
    max-width: 960px;
    margin: auto;
    border-collapse: collapse;
}

.users__row {
    border-top: 1px solid #d9d9d9;
}

.users__row:last-of-type {
    border-bottom: 1px solid #d9d9d9;
}

.user__label {
    font-size: 18px;
    padding: 15px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.user__data {
    font-size: 16px;
    padding: 15px 20px;
    white-space: nowrap;
}

.user__delete--btn {
    border: none;
    border-radius: 4px;
    background: #f55;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
}

@media screen and (max-width: 768px) {
    .user-manage__content {
        width: 95%;
    }

    .user-manage__header--ttl {
        font-size: 24px;
    }

    .user__label,
    .user__data {
        font-size: 12px;
        padding: 5px;
    }

    .user__delete--btn {
        font-weight: 400;
        padding: 3px 5px;
    }
}
