.auth__content {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

.heading__ttl {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.auth__form {
    width: 100%;
    max-width:  680px;
    margin: 50px auto;
}

.auth__form--item {
    margin-bottom: 60px;
}

.auth__form--label {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: left;
}

.auth__form--input{
    display: block;
    width: 100%;
    border: solid 1px #5f5f5f;
    border-radius: 4px;
    font-size: 24px;
    padding: 15px;
}

.auth__form--btn {
    width: 100%;
    padding: 10px;
    background-color: #f55;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin: 30px 0;
    cursor: pointer;
}

.auth__link {
    text-decoration: none;
    font-size: 20px;
    color: #0073cc;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .auth__content {
        width: 90%;
    }

    .heading__ttl {
        font-size: 24px;
    }

    .auth__form--label {
        font-size: 18px;
    }

    .auth__form--input {
        font-size: 16px;
    }

    .auth__form--btn {
        padding: 8px;
        font-size: 20px;
    }

    .auth__link {
        font-size: 16px;
    }
}
