.profile__content {
    width: 80%;
    margin: 50px auto;
}

.heading__ttl {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.profile__form {
    width: 680px;
    margin: 30px auto;
}

.profile__img {
    display: flex;
    margin: 30px 0;
}

.profile__img--icon {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    background: #d9d9d9;
}

.profile__img--icon-img {
    width: 100%;
    height: 100%;
    border-radius: 90px;
    background: transparent;
}

.profile__img--select {
    margin-left: 40px;
    align-content: center;
}

.profile__img--select-link {
    padding: 15px 25px;
    text-decoration: none;
    border: solid 2px #f55;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #f55;
}

.profile__form--item {
    margin: 50px auto;
}

.profile__form--label {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.profile__form--input {
    display: block;
    width: 100%;
    height: 45px;
    border: solid 1px #5f5f5f;
    border-radius: 4px;
}

.profile__form--input[name="name"] {
    height: 60px;
}

.profile__form--btn {
    width: 100%;
    margin: 40px auto;
    padding: 15px 0;
    background-color: #f55;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}
