.payment-method__content {
    width: 80%;
    margin: 0 auto;
}

.heading__ttl {
    font-size: 36px;
    margin: 50px auto;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.method__form {
    width: 300px;
    margin: 60px auto;
}

.method__form--item {
    text-align: left;
    margin: 20px auto;
}

.method__form--input {
    transform: scale(1.5);
    accent-color: #f55;
    cursor: pointer;
}

.method__form--label {
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
}

.method__form--input:checked+label {
    color: #f55;
    font-weight: 700;
}

.method__form--btn {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #f55;
    color: #fff;
    font-size: 26px;
    margin: 50px auto;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .payment-method__content {
        width: 90%;
    }

    .heading__ttl {
        font-size: 24px;
    }

    .method__form--label {
        font-size: 18px;
    }

    .method__form--btn {
        font-size: 22px;
    }
}
